<div class="container">
  <br><br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SLIDE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active">LOGIN
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="lista-empleados" routerLinkActive="active">EMPLEADOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">Examen de Evalución</h2>
      <p class="card-text">Mi nombre es Gustavo Angel Santos Clemente y este es mi evaluación para practicas profesionales en Slide
        Para ver la información da clic en la lista de empleados o crear un nuevo empleado.</p>
     
    </div>
  </div>
    
  

<router-outlet></router-outlet>
